
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: rgb(2, 8, 59);
    color: white;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-family: 'Scheherazade New', serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    /* background-color: red; */
    display: grid;
    grid-template-rows: repeat(3, 10vw) ;
    grid-template-columns: repeat(3, 10vw);
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Bhai 2', cursive;
}

.box:hover{
    background-color: rgb(217, 250, 250);
}

.info{
    font-size: 20px;
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhai 2', cursive;    
}

.imgbox img{
    /* display: none; */
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 6px 14px;
    background: rgb(148, 250, 250);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
}

.line{
    background-color: black;
    width: 0;
    height: 3px;
    position: absolute;
    background-color: rgb(2, 2, 128);
    transition: width 1s ease-in-out;
}


@media screen and (max-width: 950px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container{
       grid-template-rows: repeat(3, 20vw); 
       grid-template-columns: repeat(3, 20vw); 
    }
    
}